<!DOCTYPE html>
<html>

	{{ partial "head.html" .}} 

<script>
		var submitted=false;

		function show_alert() {
			window.location="/confirmation";
		}

</script>


	<body>


		{{ partial "header.html" .}}

		<div class="main post">

		{{ partial "socials.html" .}}
	
			<div class="posthead">
				<div class="postinfo">
					<div class="infos">
						<h2>— {{ .Params.company }} —</h2>
						<h1>{{ .Title }}</h1>
					</div>
				</div>
				<div class="featuredimg">
					<!--<source srcset="/img/{{ .File.BaseFileName }}/thmb.jpg" media="(max-width: 700px)">-->
					<img srcset="../../img/{{ .File.BaseFileName }}/featured.jpg" class="featured">
				</div>
			</div>



			{{ if .Params.intro }}

				<div class="postintro">

					{{ if .Params.categories }}
						{{ partial "listcategories.html" .}}
					{{ end }}
				
				<p>{{ .Params.intro }}</p>

				</div>

			{{ end }}

			<div class="postcontent">

				{{ .Content }}

			</div>
	<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='REDIRECT-URL.html';}"></iframe>

		{{ partial "formulaire.html" .}}

		{{ partial "navpost.html" .}}

		</div>

		{{ partial "footer.html" .}}

	</body>
</html>
