<!DOCTYPE html>
<html>

	{{ partial "head.html" .}} 

	<body>


		{{ partial "header.html" .}}

		<div id="main" class="post">

		{{ partial "socials.html" .}}
		{{ partial "navpost.html" .}}
	
			<div class="posthead">
				<picture>
					<source srcset="/thmb/{{ .File.BaseFileName }}.jpg" media="(max-width: 700px)">
					<source srcset="../../featured/{{ .File.BaseFileName }}.jpg">
					<img srcset="../../featured/{{ .File.BaseFileName }}.jpg" class="featured">
				</picture>
			</div>

				<div class="postinfo">
					<h2>— {{ .Params.company }} —</h2>
					<h1>{{ .Title }}</h1>
				</div>

			{{ if .Params.intro }}

				<div class="postintro">

					{{ if .Params.categories }}
						{{ partial "listcategories.html" .}}
					{{ end }}
				
				<p>{{ .Params.intro }}</p>

				</div>

			{{ end }}

			<div class="postcontent">

				{{ .Content }}

			</div>

		</div>
		{{ partial "footer.html" .}}

	</body>
</html>
