<!DOCTYPE html>
<html>

	{{ partial "head.html" .}} 

	<body>


		{{ partial "header.html" .}}

		<div class="main post">

		{{ partial "socials.html" .}}
	
			<div class="posthead">
				<div class="postinfo">
					<h2>— {{ .Params.company }} —</h2>
					<h1>{{ .Title }}</h1>
				</div>
				<picture>
					<source srcset="/img/{{ .File.BaseFileName }}/thmb.jpg" media="(max-width: 700px)">
					<source srcset="../../img/{{ .File.BaseFileName }}/featured.jpg">
					<img srcset="../../img/{{ .File.BaseFileName }}/featured.jpg" class="featured">
				</picture>
			</div>



			{{ if .Params.intro }}

				<div class="postintro">

					{{ if .Params.categories }}
						{{ partial "listcategories.html" .}}
					{{ end }}
				
				<p>{{ .Params.intro }}</p>

				</div>

			{{ end }}

			<div class="postcontent">

				{{ .Content }}

			</div>

		{{ partial "navpost.html" .}}

		</div>

		{{ partial "footer.html" .}}

	</body>
</html>
