<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Valentin Cauro — Designer Graphique Multimedia"/>
	<meta property="og:description" content="Valentin Cauro — Designer Graphique Multimedia"/>
	<meta property="og:site_name" content="{{ .Site.Title }}"/>
	<meta property="og:url" content="{{ .Permalink }}"/>
	<meta property="og:locale" content="fr"/>
	<meta property="og:image" content="http://www.valentincauro.com/img/background.jpg"/>

	<link href="{{ .Site.BaseURL }}css/knacss.css" rel="stylesheet">

	<link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet">
	<link href="{{ .Site.BaseURL }}css/mediaqueries.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
	<script src="{{ .Site.BaseURL }}js/zepto.min.js"></script>

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108127879-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-108127879-1');
	</script>
</head>