<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ .Site.BaseURL }}css/knacss.css" rel="stylesheet">
	<link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet">
	<link href="{{ .Site.BaseURL }}css/mediaqueries.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
	<script src="{{ .Site.BaseURL }}js/zepto.min.js"></script>
</head>