<script>
if (screen && screen.width > 700) {
  var whenScrlBottom = function() {
    var win_h = (self.innerHeight) ? self.innerHeight : document.body.clientHeight;    // gets window height

    var scrl_pos = window.pageYOffset ? window.pageYOffset : document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop;

    if (document.body.scrollHeight <= (scrl_pos + win_h)) {
      document.getElementById('navright').classList.remove("collapse");
      document.getElementById('navleft').classList.remove("collapse");
    }
    else{
      document.getElementById('navright').classList.add("collapse");
      document.getElementById('navleft').classList.add("collapse");

    }
  }
  window.onscroll = whenScrlBottom;
}
</script>

<div class="navpost">
	<div class="lefttt">
		{{ if .Prev }}<a href="{{ .Prev.Permalink }}" id="navleft" class="prev collapse">{{ .Prev.Title }}
		<span><</span>
		</a>{{ end }}
	</div>

	<div class="righhht">
		{{ if .Next }}<a href="{{ .Next.Permalink }}" id ="navright" class="next collapse"><span>></span>{{ .Next.Title }}</a>{{ end }}
	</div>
</div>