<!DOCTYPE html>
<html>

	{{ partial "head.html" .}} 

	<body>

		{{ partial "header.html" .}}

		<div class="main about">
			<div class="blocabout">
				<h1>VALENTIN CAURO</h1>
				<h2>DESIGNER GRAPHIQUE MULTIMEDIA</h2>
				<a href="">CV PDF</a>
				<a href="">BOOK PDF</a>
			</div>
		 	{{ partial "socials.html" .}}

		</div>

		<div class="skills">
			<ul>
				<li class="gestion">
					<h3>GESTION DE PROJET</h3>
					<p>Stratégie de l’entreprise</p>
					<p>Leadership</p>
					<p>Méthode Agile</p>
				</li>
				
				<li class="com">
					<h3>COMMUNICATION & PUB</h3>
					<p>Techniques et stratégies </p>
					<p>de communication digitales</p>
					<p>Notions de marketing</p>
				</li>

				<li class="ux">
					<h3>USER EXPERIENCE</h3>
					<p>Expert en ergonomie</p>
					<p>Conception responsive & mobile</p>
					<p>Wireframe et Prototypage</p>
				</li>

				<li class="multimedia">
					<h3>MULTIMEDIA</h3>
					<p>Motion Design</p>
					<p>Composition photographique</p>
					<p>Montage et étalonnage video</p>
				</li>

				<li class="graphic">
					<h3>DESIGN GRAPHIQUE</h3>
					<p>Maîtrise complète Suite Adobe</p>
					<p>Maîtrise des règles typographiques</p>
					<p>Équilibre visuel et chromatique</p>
				</li>

				<li class="da">
					<h3>DIRECTION ARTISTIQUE</h3>
					<p>Conception d'identités visuelles</p>
					<p>Tendance</p>
					<p>Compréhension des marques</p>
				</li>

			</ul>
		</div>

		<div class="contact">

		</div>


		{{ partial "footer.html" .}}

	</body>
</html>